* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary: rgba(17, 17, 43, 0.798);
  --primary-light: rgb(205, 205, 224);
  --primary-dark: rgb(12, 12, 38);
}

.page-container {
  background: url(background-image.jpg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: grid;
  place-items: center;
}

.login-container {
  color: var(--primary-light);
  background-color: var(--primary);
  box-shadow: 0 0 15px 0 var(--primary-dark);
  width: 80%;
  max-width: 600px;
  border-radius: 20px;
  padding: 0.5rem;
}

h1 {
  color: white;
  text-align: center;
  margin-top: 1rem;
}

.form {
  padding: 1rem;
  margin-top: 2rem;
  display: grid;
  gap: 15px;
}

.input-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.input-group input {
  padding: 0.4rem;
  font-size: 1.3rem;
  background-color: #8c99df33;
  border-radius: 10px;
  border: none;
  outline: none;
  color: whitesmoke;
}

.input-group input:focus {
  box-shadow: 0 0 15px 0 rgba(36, 131, 131, 0.346);
}

.msg {
  display: none;
}

button {
  color: white;
  background-color: rgba(0, 139, 139, 0.212);
  border: 2px solid darkcyan;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 1.5rem;
}

button:hover,
button:focus {
  background-color: rgba(0, 139, 139, 0.301);
  cursor: pointer;
}
